<!DOCTYPE html>
<html>

<head>
	<%- include('../partials/head.ejs')%>

<style>
	.app {
		font-size: 30px;
	}

	.uinav {
		margin-top: 20px;
	}

	.element-to-stick-to-bottom {
		position: absolute;
		bottom: 0;
	}

	.item {
		margin: 30px;
	}

	.container-element {
		position: relative;
	}
</style>

</head>

<body>
	<header>
		<%- include('../partials/header.ejs', {user : "admin"})%>

	</header>

	<div class="col-sm-9 col-md-6 col-lg-8">
		<div class="uinav">
			<div class="item">
				<nav class="navbar navbar-light" style="background-color:#f5f5f5;">
					<div class="container-fluid">
						<div class="nav navbar-nav">
							<div>order id</div>
							<div>details</div>
						</div>

						<div class="nav navbar-nav">
							<div class="row">
								<button type="button" class="btn btn-secondary" style="background-color:#F62217;">Reject</button>
							</div>
						</div>

						<button type="button" class="btn btn-secondary" style="background-color:#513DFF;">Done</button>

					</div>
				</nav>
			</div>
		</div>
	</div>

	<div class="col-sm-9 col-md-6 col-lg-8">
		<div class="uinav">
			<div class="item">
				<nav class="navbar navbar-light" style="background-color:#f5f5f5;">
					<div class="container-fluid">
						<div class="nav navbar-nav">
							<div>order id</div>
							<div>details</div>
						</div>

						<div class="nav navbar-nav">
							<div class="row">
								<button type="button" class="btn btn-secondary" style="background-color:#F62217;">Reject</button>
							</div>
						</div>
						
						<button type="button" class="btn btn-secondary" style="background-color:#513DFF;">Done</button>

					</div>
				</nav>
			</div>
		</div>
	</div>

	<div class="col-sm-9 col-md-6 col-lg-8">
		<div class="uinav">
			<div class="item">
				<nav class="navbar navbar-light" style="background-color:#f5f5f5;">
					<div class="container-fluid">
						<div class="nav navbar-nav">
							<div>order id</div>
							<div>details</div>
						</div>

						<div class="nav navbar-nav">
							<div class="row">
								<button type="button" class="btn btn-secondary" style="background-color:#F62217;">Reject</button>
							</div>
						</div>
						
						<button type="button" class="btn btn-secondary" style="background-color:#513DFF;">Done</button>

					</div>
				</nav>
			</div>
		</div>
	</div>

</body>

</html>