<!DOCTYPE html>
<html>

<head>
  <title>Webview Example</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<style>
  .food_container {
    padding: 5px;
    max-height: 81%;
    overflow: scroll;
  }
</style>

<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="#">
      <img
        src="https://www.clipartmax.com/png/middle/320-3207864_clip-art-royalty-free-icon-school-education-icons-canteen-icon-png.png"
        width="45" height="45" alt="" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
        <li class="nav-item">
          <a class="nav-link" href="#">Item edit</a>
        </li>
        <li class="nav-item active">
        <li class="nav-item">
          <a class="nav-link" href="#">Add item</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Remove Item</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Edit Item</a>
        </li>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">profile</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">logout</a>
        </li>

      </ul>

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button type="button" class="btn btn-outline-primary">search</button>
      </form>

    </div>
  </nav>

  <div class="food_container">
    <form>
    <div class="card" style="width: 18rem;">
      <img src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Salt_lassi.jpg" class="card-img-top" alt="lassi"
        loading="lazy">
      <div class="card-body">
        <h5 class="card-title">

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Title: #1</span>
            </div>
            <input type="text" class="form-control" placeholder="Title" aria-label="Title"
              aria-describedby="basic-addon1" value="Lassi" id="title" >
          </div>

        </h5>
        <p class="card-text">

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Name: </span>
          </div>
          <input type="text" class="form-control" placeholder="name" aria-label="name" aria-describedby="basic-addon1"
            value="Lassi" id="name">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">type: </span>
          </div>
          <input type="text" class="form-control" placeholder="type" aria-label="type" aria-describedby="basic-addon1"
            value="North- indian" id="type">
        </div>

        <hr>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Price: </span>
          </div>
          <input type="text" class="form-control" placeholder="price" aria-label="price" aria-describedby="basic-addon1" value="10" id="price">
        </div>

        </p>
        <button class="btn btn-primary" type="submit">save</button>
      </div>
    </div>
    </form>
  </div>



</body>

<script>
  document.addEventListener("submit", sendData);

  function sendData(e) {
    e.preventDefault();
    const title = document.querySelector("#title").value;
    const name = document.querySelector("#name").value;
    const type = document.querySelector("#type").value;
    const price = document.querySelector("#price").value;

    fetch("/items_edit", {
      method: "POST",
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        id : 1,
        title : title,
        name : name,
        type : type,
        price : price
      })
    })
      .then(res => res.json())
      .then(data => {
        const { result } = data;

        if (result == 0)
          document.querySelector(
            ".result"
          ).innerText = `Their is some error please retry`;

        else if (result == 1)
          window.location.href = "/items_edit";

      })
      .catch(err => console.log(err));
  }
  
</script>

</html>