<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head.ejs')%>
</head>
<body onload="get_data()">
  <!-- navbar -->
  <header>
  <%- include('../partials/header.ejs', {user : "admin"})%>
  </header>

  <div class="food_container" id="food_container">

  </div>



</body>

<script>
  var food_arr=[];

  function sendData(arrid) {
    console.log(arrid);
    const {fid, name, type, price} = food_arr[arrid];
    
    console.log(food_arr[arrid]);
    // following code is not appropriate its for reffrance 
    fetch("/edit", {
      method: "POST",
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        id: fid,
        title: name,
        name: name,
        type: type,
        price: price
      })
    })
    .then(res => res.json())
      .then(data => {
        const { result } = data;

        if (result == 0)
          document.querySelector(
            ".result"
          ).innerText = `Their is some error please retry`;

        else if (result == 1)
          console.log(res.locals);
          window.location.href = "/edit";

      })
      .catch(err => console.log(err));
  }
    // load all food data at beigning 
    // respond with same array to all request 
    // no need to query dbms again and again   
    // only viable solution is to use templates  

  function get_data() {
    console.log("called");
    fetch("/get_food_data", {
      method: "GET",
    })
      .then(res => res.json())
      .then(data => {
        food_arr = data;
        create_cards(data);
      })
      .catch(err => console.log(err));
  }

  function create_cards(items) {
    var cards = "";
    for (var i = 0; i < items.length; i++) {
      const { fid, name, type, price } = items[i];

      cards += ` 
      <div class="card" style="width: 18rem; ">

        <img src = "" class="card-img-top" alt = "${name}" loading = "lazy" >

        <div class="card-body">

          <h5 class="card-title">${name}</h5>
          <p class="card-text">
            Name: <span id="name${i}">${name}</span><br>
            Type: <span id="type${i}">${type} </span><br>
            <hr>
            Price : <span id="price${i}">${price}</span>
          </p>

          <button class="btn btn-primary" onclick="sendData(${i})">edit</button>
        </div>
      </div>`
    }

    document.getElementById("food_container").innerHTML = cards;

  }
</script>

</html>