<!doctype html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs')%>
  <style>
    table {
      border-style: solid;
      border-color: rgb(15, 238, 227);
      padding: 10px;

    }

    .shedule {
      border-style: solid;
      border-color: rgb(15, 238, 227);

    }
  </style>

</head>

<body onload="gen_bill()">

  <header>
    <%- include('../partials/header.ejs', {user : "admin"})%>

  </header>

  <h1>BILL:</h1>
  <form>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Item</th>
          <th scope="col">Qyt</th>
          <th scope="col">Amt</th>
        </tr>
      </thead>

      <tbody id="table-body">


      </tbody>
    </table>

    <center>
      <button type="button" class="btn btn-primary" onclick="order()">Order</button>
      <a type="button" class="btn btn-danger" href="/clientview">Cancel</a>
    </center>
  </form>



</body>
<script>

  function gen_bill() {
    var order_items = JSON.parse(sessionStorage.getItem("order"));
    var rows = "";
    var i=0;

    for (fid in order_items) {

      rows +=
        `<tr id="item${i}">
          <th scope="row">${i + 1}</th>
          <td>${order_items[fid]["name"]}</td>
          <td>
            <select class="form-control" id="qyt${i}" onchange="change_price(${i}, ${order_items[fid]["price"]})">
              <option>0</option>
              <option selected>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </td>
          <td>
            <span id="amt${i}"> ${order_items[fid]["price"]} </span>
          </td>
        </tr>`
        i++;
    }
    document.getElementById("table-body").innerHTML = rows;
  }

  function change_price(id, price) {
    var amt = document.getElementById("amt" + id);
    var qyt = document.getElementById("qyt" + id);

    amt.innerText = price * qyt.value;
  }

  function order() {
    var final_bill = [];
    var order_items = JSON.parse(sessionStorage.getItem("order"));
    var i=0;

    for (fid in order_items) {
      var name = order_items[fid]["name"];
      var qyt = document.getElementById("qyt"+i).value;
      var price = document.getElementById("amt"+i).innerText;

      console.log([fid, name, qyt, price]);
      final_bill.push([fid, name, qyt, price]);
      i++;
    }

    var uid = sessionStorage.getItem("id"); 

    fetch("/bill", {
      method: "POST",
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        order : final_bill,
        min : 0,
        uid : uid
      })
    });
    sessionStorage.removeItem("order");
    
  }

</script>
</html>