<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Sign up</title>
</head>

<body>
  <h1 align="center" class="bg-primary" style="color:white">Aadi</h1>
  <form>
    <div class="col d-flex justify-content-center" vertical-align:center>
      <div class="card">
        <div class="card-body">

          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" placeholder="Enter Username" id="username">
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
          </div>

          <div class="form-group">
            <label for="email">Enter Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter Email">
          </div>

          <div class="form-group">
            <label for="mobile">Mobile Number<label>
                <input type="number" class="form-control" id="mobile" placeholder="Mobile Number">
          </div>

          <div class="form-group">
            <label for="uid">Enter Id</label>
            <input type="text" class="form-control" id="uid" placeholder="Student/Faculty id" required
              pattern="[a-zA-Z0-9\s]+">
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="s" name="check" id="student"
              onclick="onlyOne(this)">
            <label class="form-check-label" for="defaultCheck1">
              Student
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="f" name="check" id="faculty"
              onclick="onlyOne(this)">
            <label class="form-check-label" for="defaultCheck2">
              Faculty
            </label>
          </div>

          <div class="result">
          
          </div>

          <center>
          <button type="submit" class="btn btn-primary btn-sm" >Register</button>
          </center>
        
        </div>
        
      </div>
    </div>
  </form>
    
  <!-- checkbox script -->
    <script>
      function onlyOne(checkbox) {
        var checkboxes = document.getElementsByName('check')
        checkboxes.forEach((item) => {
          if (item !== checkbox) item.checked = false
        })
      }
    </script>
    
    <!-- registration -->

    <script>
      document.addEventListener("submit", sendData);
      function sendData(e) {
        e.preventDefault();
        const user = document.querySelector("#username").value;
        const pass = document.querySelector("#password").value;
        const email = document.querySelector("#email").value;
        const mob = document.querySelector("#mobile").value;
        const uid = document.querySelector("#uid").value;
        const sut = document.querySelector("#student").checked;
        const fac = document.querySelector("#faculty").value;


        fetch("/", {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            user: user,
            pass:pass,
            email:email,
            mob:mob,
            uid:uid,
            sut:sut,
            fac:fac
          })
        })
          .then(res => res.json())
          .then(data => {
            const { result } = data;

            if(result == 0)
              document.querySelector(".result").innerText = `The registration was unsuccesful`;

            else
              window.location.href = "/";
            
          })
          .catch(err => console.log(err));
      }
    </script>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>
<style>
  .card {
    border-radius: 20px;
    width: 300px;
    height: 600px;
    align-content: center;
  }

  .card-body {
    align-content: center;
  }
</style>

</html>
